a-entity
  a-box(width="3" height="0.1" depth="0.1" position="0 0 -1.5" color="green")
  a-box(width="0.1" height="0.1" depth="1" position="-1.5 0 -1" color="blue")
  a-box(width="0.1" height="0.1" depth="1" position="1.5 0 -1" color="yellow")
